@import "./abstracts/vars";
@import "./abstracts/mixins";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    min-width: 320px;
}

@import "./blocks/header";
@import "./blocks/main-block";
@import "./blocks/photo";
@import "./components/rating";
@import "./components/swiper";
@import "./components/star";

