@import "./mixins";

// Colors
$accentColor: #FC9B09;
$primaryColor: #fff;
$secondaryColor: #C7C7C7;
$textColor: #37373F;
$textColorLight: #B3B3B3;
$linkColor: #5286EC;

//Breakpoints
$breakpoints: (
    xs: 36rem, // 576
    sm: 48rem, // 768
    md: 80rem, // 1280
    lg: 90rem); // 1440

// Container
%container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @include media(xs) {
        padding: 0 35px;
    }

    @include media(sm) {
        padding: 0 50px;
    }

    @include media(md) {
        padding: 0;
        width: 1140px;
    }
}

// @extend %container;

// title
%title {
    @include text(28px, 400, 1.2, $textColor);

    text-align: center;
}
// @extend %title;

%btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
//@extend %btn;