.footer {
    padding: 5rem 0 3rem;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 2rem;

    border-bottom: 0.5px solid #C7C7C7;
}

.footer__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0;

    justify-items: center;

    padding-top: 2rem;

    @include media(xs) {
    grid-template-columns: 1fr auto 1fr;

    }
}

.footer__cards {
    justify-self: start;

    display: flex;
    align-items: center;

    @include media(xs) {
        grid-row: span 2;

        }
}


.footer__lang {
    @extend %btn;

    justify-self: end;

    text-transform: uppercase;

    @include media(xs) {
        grid-row: span 2;

        }

}


.footer__mc {

    margin-right: 1.6rem;
}

.footer__support,
.footer__tel {
    @include text(1.4rem, 400, 1.2, $textColorLight);

    grid-column: span 2;

    @include media(xs) {
        grid-area: 1/2/2/3;

        }
}



.footer__copy {

    @include text(1.4rem, 400, 1.2, $textColorLight);

    grid-column: span 2;

    @include media(xs) {
        grid-area: 2/2/3/3;

        }
}