.photo {
    padding: 4rem 0 5rem;

    .container {
        @extend %container;
    }
}

.photo__inner {

    @include media(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 3.7rem;
    }

}

.vsc-controller {
    position: absolute;
    display: none;

}
// #controller {
//     display: none;
// }

.photo__title {
    @include text(28px, 400, 1.2, $textColor);

    padding-bottom: 1.5rem;

    text-align: center;

    @include media(sm) {
        @include text(4rem, 500, 1.4, $textColor);

        padding-bottom: 2.2rem;
    }

    @include media(md) {
        margin-right: auto;
        padding: 0;

        line-height: 1.2;
    }

}

.photo__video {
    width: 100%;

    padding-bottom: 2.7rem;

    border-radius: 4px;

    @include media(sm) {
        padding-bottom: 3.5rem;
    }


    @include media(md) {
        grid-row: 3 span
    }
}

.photo__desc {
    @include text(1.4rem, 400, 1.4, $textColor);

    padding-bottom: 4rem;

    @include media(xs) {
        padding-bottom: 2rem;

        font-size: 1.8rem;
    }

    @include media(sm) {
        max-width: 540px;

        padding-bottom: 2.5rem;
    }

    @include media(md) {
        margin-top: 8px;

        letter-spacing: -1.25px;
    }

}

.photo__list {
    margin-bottom: .5rem;

}

.photo__item {
    @include text(1.4rem, 500, 1.2, $textColor);

    padding: 0 0 3.4rem 4rem;

    position: relative;

    @include media(md) {
        line-height: 1;
        letter-spacing: -1.7px;
    }
}

.photo__item-clock {

    &::before {
        width: 32px;
        height: 32px;

        position: absolute;

        content: "";
        top: -7px;
        left: -3px;
        background: url(./../images/photo-icons/clock.svg) no-repeat;
    }
}

.photo__item-photo {

    &::before {
        width: 35px;
        height: 28px;

        position: absolute;

        content: "";
        top: -5px;
        left: -3px;
        background: url(./../images/photo-icons/photo.svg) no-repeat;
    }
}

.photo__item-city {

    &::before {
        width: 33px;
        height: 33px;

        position: absolute;

        content: "";
        top: -10px;
        left: -3px;
        background: url(./../images/photo-icons/city.svg) no-repeat;
    }
}

.photo__item-speech {

    &::before {
        width: 31px;
        height: 31px;

        position: absolute;

        content: "";
        top: -11px;
        left: -3px;
        background: url(./../images/photo-icons/speech.svg) no-repeat;
    }
}


.photo__wrap {
    padding-top: 6rem;

    @include media(sm) {
        padding: 0 5rem;
    }

    @include media(md) {
        padding: 0 7rem;
    }

}

.photo__gallary-title {
    @include text(2.6rem, 400, 1.2, $textColor);
    width: 25rem;

    margin: 0 auto 3rem;

    text-align: center;

    @include media(sm) {
        @include text(2rem, 500, 1.2, $textColor);
        margin: 6rem 0 3rem 0;
        text-align-last: left;
    }

    @include media(md) {
        @include text(2.8rem, 500, 1.4, $textColor);

        margin: 7rem 0 4rem;

        width: 100%;
    }

}

.photo__gallery {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(8, auto);

    padding-left: 1.5rem;

    overflow-x: auto;

    @include media(xs) {
        padding-left: 3.5rem;
    }

    @include media(sm) {
        grid-template-columns: repeat(2, 28rem);
        gap: 1rem;
        justify-content: center;

        padding-left: 0;
    }

    @include media(md) {
        grid-template-columns: repeat(4, 28rem);
    }
}

