.btn-show {
    display: none;

    position: relative;

    margin: 5rem auto 2.7rem;

    @extend %btn;
    @include text(1.7rem, 500, 1.2, $linkColor);
    letter-spacing: 1.1px;

    @include media(md) {
        margin-top: 4.2rem;
    }


    &::before {
        width: 11px;
        height: 6px;

        position: absolute;

        content: "";
        top: 8px;
        left: -20px;
        background: url(./../images/photo-icons/arrow.svg) no-repeat;
    }

    &::after {
        width: 11px;
        height: 6px;

        position: absolute;

        content: "";
        top: 8px;
        right: -20px;
        background: url(./../images/photo-icons/arrow.svg) no-repeat;
    }


    @include media(sm) {
        display: block;
    }
}

.reviews {
    .btn-show {
        display: block;
        margin-top: 4rem;

        &::before {
            display: none;
        }
    }



}




.btn-show--down {



    &::after {
        width: 11px;
        height: 6px;

        position: absolute;

        content: "";
        top: 8px;
        right: -13px;
        background: url(./../images/photo-icons/arrow.svg) no-repeat;

        transform: rotate(
-90deg
);
    }
}