.social {
    width: 15rem;
}

.social__item {
    &:hover .social__img {
        fill: #37373F;
    }
}

.social__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.social__link {
    width: 100%;
    height: 100%;

    display: block;
}

.social__img {
    fill: #4A68AD;
    width: 26px;
    height: 26px;

    transition: all .3s linear;
}