.social {
    width: 15rem;

    
}

.social__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.social__img {
    fill: #4A68AD;
    width: 27px;
    height: 26px;

    :hover {
        fill: #37373F;
    }
}

