.swiper {
  margin: 0 auto;
  padding: 5rem 0;

  text-align: center;

  .container {
    padding: 0 23px;
  }
}

.swiper-container {
  // min-width: 2.74rem;

  min-height: 21rem;
  width: 100%;

  padding: 5rem 1rem;

  overflow: hidden;


  @include media(xs) {
    width: 82%;

    margin: 0 auto;
  }

}

.swiper-inner {
  border: 1px solid $secondaryColor;

  @include media(xs) {
    width: 77%;

    margin: 0 auto;
  }

  @include media(sm) {
    width: 55%;
  }

}

.swiper-slide {
  width: 40rem;
}



.swiper-img {
  padding-bottom: 1.5rem;
}

.swiper-question {
  @include text(1.6rem, 500, 1.4, $textColor);

  display: block;

}

.swiper-city {
  @include text(1.4rem, 400, 2, $textColor);

  display: block;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;

  background-color: transparent;

  border: 1px solid $textColorLight;
}

.swiper-pagination-bullet-active {
  border: 1px solid transparent;
  background-color: $accentColor;
}

.swiper-button-prev {
  width: 19px;
  height: 10px;

  left: 40px;

  color: $secondaryColor;
}

.swiper-button-next {
  width: 19px;
  height: 10px;

  right: 40px;

  color: $secondaryColor;

}


.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 17px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position: relative;

  font-size: 18px;
  top: -13px;
  left: 0px;
}